LAB 3.6: TẠO VÀ PHÂN TÍCH PIVOT TABLE

In [1]:
import numpy as np
import pandas as pd

In [2]:
stocks1 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks1.csv')
print(stocks1.head())
stocks2 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks2.csv')
print(stocks2.head())
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá 
trị trung bình của close làm giá trị.

In [3]:
pivot_table = pd.pivot_table(stocks, values='close', index='date', columns='symbol', aggfunc='mean')
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79
04-03-19  175.85  1696.17  167.37  1147.80  285.36
05-03-19  175.53  1692.43  171.26  1162.03  276.54
06-03-19  174.52  1668.95  172.51  1157.86  276.24
07-03-19  172.50  1625.95  169.13  1143.30  276.59

2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol)

In [4]:
pivot_table['total_volume'] = stocks.groupby('symbol')['volume'].sum()
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN

3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp.

In [5]:
pivot_table_sorted = pivot_table.sort_values(by='total_volume', ascending=False)

4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất

In [6]:
top_5_stocks = pivot_table_sorted.head()
print("Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(top_5_stocks)

Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:
symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN