LAB 3.1. KHÁM PHÁ DỮ LIỆU

In [28]:
import pandas as pd

1. Đọc file stocks1.csv vào DataFrame stocks1.

In [29]:
stocks1 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks1.csv')
print(stocks1.head())

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

2. Hiển thị 5 dòng đầu tiên của stocks1.

In [30]:
print("5 dòng dữ liệu đầu của stocks1:")
print(stocks1.head())

5 dòng dữ liệu đầu của stocks1:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột trong stocks1.

In [31]:
print("\nKiểu dữ liệu (dtype) của các cột của stocks1:")
print(stocks1.dtypes)

Kiểu dữ liệu (dtype) của các cột của stocks1:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

4. Xem thông tin tổng quan (info) của stocks1.

In [32]:
print("\nThông tin (info) của stocks1:")
print(stocks1.info())

Thông tin (info) của stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

LAB 3.2. XỬ LÝ DỮ LIỆU NULL

1. Kiểm tra xem trong stocks1 có dữ liệu Null nào không

In [33]:
print("\nDữ liệu Null trong stocks1:")
print(stocks1.isnull().sum())

Dữ liệu Null trong stocks1:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

2. Thay thế dữ liệu Null ở cột high bằng giá trị trung bình của cột high.

In [34]:
stocks1['high'].fillna(stocks1['high'].mean(),inplace=True)

3. Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low.

In [35]:
stocks1['low'].fillna(stocks1['low'].mean(),inplace=True )

4. Hiển thị thông tin tổng quan để xác nhận không còn dữ liệu Null.

In [36]:
print('After the change:\n',stocks1)

After the change:
         date symbol     open         high          low    close    volume
0   01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73   4974877
1   04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17   6167358
2   05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43   3681522
3   06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95   3996001
4   07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95   4957017
5   01-03-19   AAPL   174.28   175.150000   172.890000   174.97  25886167
6   04-03-19   AAPL   175.69   177.750000   173.970000   175.85  27436203
7   05-03-19   AAPL   175.94   176.000000   174.540000   175.53  19737419
8   06-03-19   AAPL   174.67   175.490000   173.940000   174.52  20810384
9   07-03-19   AAPL   173.87   174.440000   172.020000   172.50  24796374
10  01-03-19   GOOG  1124.90  1142.970000  1124.750000  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.280000  1130.690000  1147.80   1446047
12  05-03-19   GOOG  1150.06   943.511538   926.775385  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.570000  1155.490000  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.760000  1134.910000  1143.30   1166559

LAB 3.3. GỘP DỮ LIỆU VÀ PHÂN TÍCH CƠ BẢN

1. Đọc file stocks2.csv vào DataFrame stocks2.

In [37]:
stocks2 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks2.csv')
print(stocks2.head())

       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

2. Gộp stocks1 và stocks2 thành DataFrame mới tên là stocks.

In [38]:
stocks = pd.concat([stocks1, stocks2])

3. Tính giá trung bình (open, high, low, close) cho mỗi ngày.

In [39]:
stocks['average_price'] = stocks[['open', 'high', 'low', 'close']].mean(axis=1)

4. Hiển thị 5 dòng đầu tiên của kết quả.

In [40]:
print("5 dòng đầu tiên của kq:")
print(stocks.head())

5 dòng đầu tiên của kq:
       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

   average_price
0    1663.030000
1    1691.240000
2    1698.047500
3    1308.801731
4    1645.895000

LAB 3.4. KẾT HỢP DỮ LIỆU TỪ NHIỀU NGUỒN

1. Đọc file companies.csv vào DataFrame companies.

In [41]:
companies = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/companies.csv')
print(companies.head())

   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

2. Hiển thị 5 dòng đầu tiên của companies

In [42]:
print("5 dòng dữ liệu đầu của companies:")
print(companies.head())

5 dòng dữ liệu đầu của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

3. Kết hợp stocks (đã tạo từ bài 3) và companies dựa trên cột chung là symbol

In [43]:
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')

4. Tính giá đóng cửa (close) trung bình cho mỗi công ty

In [44]:
nhom_stocks = stocks_companies.groupby('name')

gia_dong_cua = nhom_stocks['close'].agg(['mean'])

print("Giá đóng cửa trung bình cho mỗi công ty:")
print(gia_dong_cua)

Giá đóng cửa trung bình cho mỗi công ty:
          mean
name
AAPL   174.674
AMZN  1671.046
FB     168.510
GOOG  1150.396
TSLA   281.904

5. Hiển thị kết quả cho 5 công ty đầu tiên.

In [45]:
print("5 dòng đầu tiên của kq:")
print(stocks_companies.head())

5 dòng đầu tiên của kq:
       date symbol     open         high          low    close   volume  \
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

   average_price  name  employees headquarters_city headquarters_state
0    1663.030000  AMZN     613300           Seattle                 WA
1    1691.240000  AMZN     613300           Seattle                 WA
2    1698.047500  AMZN     613300           Seattle                 WA
3    1308.801731  AMZN     613300           Seattle                 WA
4    1645.895000  AMZN     613300           Seattle                 WA

LAB 3.5: SỬ DỤNG MULTIINDEX VÀ GROUPBY

1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm 
chỉ mục.

In [46]:
stocks=pd.MultiIndex.from_arrays([stocks['date'],stocks['symbol']])

2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung 
bình cho mỗi ngày, cho mỗi mã chứng khoán.

In [47]:
nhom_stocks = stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

Giá trung bình và volume trung bình của mỗi công ty:
          open         high          low     close      volume
name
AAPL   174.890   175.766000   173.472000   174.674  23733309.4
AMZN  1681.284  1540.950308  1512.331077  1671.046   4755355.0
FB     167.654   169.564400   166.190000   168.510  19603715.2
GOOG  1148.032  1113.818308  1094.523077  1150.396   1321077.0
TSLA   288.476   291.267160   278.684000   281.904  15710180.2

3. Sắp xếp dữ liệu theo ngày và mã chứng khoán.

In [48]:
sorted_data = stocks_companies.reset_index().sort_values(by=['date', 'symbol']).set_index(['date', 'symbol'])

4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [49]:
print("Kết quả cho 5 ngày đầu tiên:")
print(sorted_data.head())

Kết quả cho 5 ngày đầu tiên:
                 index     open      high      low    close    volume  \
date     symbol
01-03-19 AAPL        5   174.28   175.150   172.89   174.97  25886167
         AMZN        0  1655.13  1674.260  1651.00  1671.73   4974877
         FB         15   162.60   163.132   161.69   162.28  11097770
         GOOG       10  1124.90  1142.970  1124.75  1140.99   1450316
         TSLA       20   306.94   307.130   291.90   294.79  22911375

                 average_price  name  employees headquarters_city  \
date     symbol
01-03-19 AAPL         174.3225  AAPL     132000         Cupertino
         AMZN        1663.0300  AMZN     613300           Seattle
         FB           162.4255    FB      48268        Menlo Park
         GOOG        1133.4025  GOOG      98771     Mountain View
         TSLA         300.1900  TSLA      48016         Palo Alto

                headquarters_state
date     symbol
01-03-19 AAPL                   CA
         AMZN                   WA
         FB                     CA
         GOOG                   CA
         TSLA                   CA

LAB 3.6: TẠO VÀ PHÂN TÍCH PIVOT TABLE

In [50]:
stocks1 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks1.csv')
print(stocks1.head())
stocks2 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks2.csv')
print(stocks2.head())
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504

1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá 
trị trung bình của close làm giá trị.

In [51]:
pivot_table = pd.pivot_table(stocks, values='close', index='date', columns='symbol', aggfunc='mean')
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79
04-03-19  175.85  1696.17  167.37  1147.80  285.36
05-03-19  175.53  1692.43  171.26  1162.03  276.54
06-03-19  174.52  1668.95  172.51  1157.86  276.24
07-03-19  172.50  1625.95  169.13  1143.30  276.59

2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol)

In [52]:
pivot_table['total_volume'] = stocks.groupby('symbol')['volume'].sum()
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN

3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp.

In [53]:
pivot_table_sorted = pivot_table.sort_values(by='total_volume', ascending=False)

4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất

In [54]:
top_5_stocks = pivot_table_sorted.head()
print("Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:")
print(top_5_stocks)

Kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất:
symbol      AAPL     AMZN      FB     GOOG    TSLA  total_volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN