LAB 3.5: SỬ DỤNG MULTIINDEX VÀ GROUPBY

In [1]:
import numpy as np
import pandas as pd

In [2]:
stocks1 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks1.csv')
print(stocks1.head())
stocks2 = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/stocks2.csv')
print(stocks2.head())
companies = pd.read_csv('D:/Python nâng cao/Lab 3/DATA/companies.csv')
print(companies.head())
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
stocks_companies = pd.merge(stocks, companies, left_on='symbol', right_on='name', how='inner')

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

1. Tạo MultiIndex cho DataFrame stocks bằng cách sử dụng cột date và symbol làm 
chỉ mục.

In [3]:
stocks['date'] = pd.to_datetime(stocks['date'])
stocks.set_index(['date', 'symbol'], inplace=True)

2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung 
bình cho mỗi ngày, cho mỗi mã chứng khoán.

In [4]:
nhom_stocks = stocks_companies.groupby('name')

gia_tri_tb = nhom_stocks.agg({ 'open': 'mean',
                               'high': 'mean',
                               'low': 'mean',
                               'close': 'mean',
                               'volume': 'mean'
})

print("Giá trung bình và volume trung bình của mỗi công ty:")
print(gia_tri_tb)

Giá trung bình và volume trung bình của mỗi công ty:
          open        high       low     close      volume
name
AAPL   174.890   175.76600   173.472   174.674  23733309.4
AMZN  1681.284  1690.31000  1658.720  1671.046   4755355.0
FB     167.654   169.56440   166.190   168.510  19603715.2
GOOG  1148.032  1156.39500  1136.460  1150.396   1321077.0
TSLA   288.476   291.26716   278.684   281.904  15710180.2

3. Sắp xếp dữ liệu theo ngày và mã chứng khoán.

In [5]:
sorted_data = stocks_companies.reset_index().sort_values(by=['date', 'symbol']).set_index(['date', 'symbol'])

4. Hiển thị kết quả cho 5 ngày đầu tiên.

In [6]:
print("Kết quả cho 5 ngày đầu tiên:")
print(sorted_data.head())

Kết quả cho 5 ngày đầu tiên:
                 index     open      high      low    close    volume  name  \
date     symbol
01-03-19 AAPL        5   174.28   175.150   172.89   174.97  25886167  AAPL
         AMZN        0  1655.13  1674.260  1651.00  1671.73   4974877  AMZN
         FB         15   162.60   163.132   161.69   162.28  11097770    FB
         GOOG       10  1124.90  1142.970  1124.75  1140.99   1450316  GOOG
         TSLA       20   306.94   307.130   291.90   294.79  22911375  TSLA

                 employees headquarters_city headquarters_state
date     symbol
01-03-19 AAPL       132000         Cupertino                 CA
         AMZN       613300           Seattle                 WA
         FB          48268        Menlo Park                 CA
         GOOG        98771     Mountain View                 CA
         TSLA        48016         Palo Alto                 CA